body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #6943FF;
    background-color: #6943FF;
    background-size: cover;
    height: 250px; /* Fixed height */
    max-width: 100%;
}

#convert-btn {
    margin-top: 10px;
    background-color: white;
    width: 117px;
    height: 42px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#input {
    width: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #6943FF;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-align: center;
    min-width: 80px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F4F4F4;
    flex: 1; /* This makes it fill the remaining space */
}
.par{
    display: block;
    background-color: white;
    width: 80%;
    text-align: center;
    margin:20px ;
    color: #5A537B;
}

@media(max-width:700px){
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.6rem;
    }
}